body {
  background: rgb(237, 237, 237);
}
.container{
  display: flex;
  flex-wrap: wrap;
  gap: 1vh 1%;
  justify-content: space-between;
}
.container-no-wrap{
  display: flex;
  gap: 1vh 1%;
  justify-content: space-between;
}
.a{
  background-color: rgb(216, 216, 216);
  border: 1px solid gray;
  font-size: 4em;
  min-width: 100%;
  min-height: 20vh;
  text-align: center;
}
.b, .c, .d, .e{
  background-color: rgb(216, 216, 216);
  border: 1px solid gray;
  font-size: 4em;
  min-width: 5em;
  max-height: 5em;
  min-height: 5em;
  text-align: center;
}
.c, .d, .e{
  flex-grow: 0;
}
.f{
  background-color: rgb(216, 216, 216);
  border: 1px solid gray;
  font-size: 4em;
  min-width: 20%;
  min-height: 10em;
  text-align: center;
}
.b{
 width: 100%;
}
@media (max-width:1284px) {
  .a, .f{
    background-color: rgb(216, 216, 216);
    border: 1px solid gray;
    font-size: 4em;
    min-width: 100%;
    min-height: 20vh;
    text-align: center;
  }
  .container-no-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1vh 1%;
    justify-content: space-between;
  }
  .c, .d, .e{
    background-color: rgb(216, 216, 216);
    border: 1px solid gray;
    font-size: 4em;
    min-width: 3em;
    max-height: 3em;
    min-height: 3em;
    text-align: center;
  }
  .b {
    background-color: rgb(216, 216, 216);
    border: 1px solid gray;
    font-size: 4em;
    min-width: 97vw;
    min-height: 35vh;
    text-align: center;
  }
}